main {
  width:250px;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

section{
  min-height: 80px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top right;
  background-size: 30%;
}

.switch {
  height: 25px;
  display: inline-flex;
  align-items: center;
  background: #e6e6e6;
  width: 60px;
  padding: 0px 5px;
  border-radius: 30px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.221);
  cursor: pointer;
  position: relative;
}

.switch__trigger {
  width: 24.5px;
  height: 20px;
  display: inline-block;
  background-color: white;
  box-shadow: 0 0 10px 0 rgba(26, 185, 42, 0.221);
  border-radius: 24px;
  position: absolute;
  left: 6px;
  top: 2px;
  transition: left 500ms, background-color 100ms;
}

.switch.active .switch__trigger {
  left: 39px;
}

.switch__checkbox {
  opacity: 0;
}

.switch__status {
  font-weight: bold;
  font-size: 12px;
  margin-left: 2px;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background: white;
  width: 100%;
  max-width: 600px;
  height: 50px;
  border-radius: 0.5rem 0.5rem 0 0;
  display: flex;
  align-items: center;

  box-shadow: 0 0 17px 0 rgb(0 0 0 / 12%);
}

footer img{
  vertical-align: middle;
}

footer span {
  margin-left: 0.75rem;
}

footer a {
  font-weight: bold;
  color: black;
  text-decoration: underline;
}

/* ===== MODIFIERS ===== */

/* DEEPSEEK */
.deepseek{
  background-image: url(./logo/deepseek-logo.svg);
}
.deepseek .switch.active {
  box-shadow: 0 0 10px 0 rgb(70 107 254 / 78%);
}
.deepseek  .switch__status {
  color: #4d6bfe;
}
.deepseek .switch.active .switch__trigger {
  background-color: #4d6bfe;
}

/* CHATGPT */
.chatgpt{
  background-image: url(./logo/chatgpt-logo.svg);
}
.chatgpt .switch.active {
  box-shadow: 0 0 10px 0 rgb(16 163 127 / 78%);
}
.chatgpt  .switch__status {
  color:  #14A37F;
}
.chatgpt .switch.active .switch__trigger {
  background-color:  #14A37F;
}

/* Copilot */
.copilot{
  background-image: url(./logo/copilot-logo.svg);
}
.copilot .switch.active {
  box-shadow: 0 0 10px 0 rgb(253 83 197 / 78%);
}
.copilot  .switch__status {
  color:  #CD53B3;
}
.copilot .switch.active .switch__trigger {
  background-color:  #CD53B3;
}

/* AIStudio */
.aistudio{
  background-image: url(./logo/aistudio-logo.svg);
}
.aistudio .switch.active {
  box-shadow: 0 0 10px 0 rgb(0 87 204 / 78%);
}
.aistudio  .switch__status {
  color:  #0057CC;
}
.aistudio .switch.active .switch__trigger {
  background-color:  #0057CC;
}

/* Grok */
.grok{
  background-image: url(./logo/grok-logo.svg);
}
.grok .switch.active {
  box-shadow: 0 0 10px 0 rgb(0 0 0 / 78%);
}
.grok  .switch__status {
  color:  #000;
}
.grok .switch.active .switch__trigger {
  background-color:  #000;
}

/* Claude */
.claude{
  background-image: url(./logo/claude-logo.svg);
}
.claude .switch.active {
  box-shadow: 0 0 10px 0 rgb(217 119 87 / 78%);
}
.claude  .switch__status {
  color:  #D97757;
}
.claude .switch.active .switch__trigger {
  background-color:  #D97757;
}

/* TheB.AI */
.thebai{
  background-image: url(./logo/thebai-logo.svg);
}
.thebai .switch.active {
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.78);
}
.thebai  .switch__status {
  color:  #000;
}
.thebai .switch.active .switch__trigger {
  background-color:  #000;
}

/* Monica */
.monica{
  background-image: url(./logo/monica-logo.svg);
}
.monica .switch.active {
  box-shadow: 0 0 10px 0 rgba(81, 95, 251, 1);
}
.monica  .switch__status {
  color:  #515FFB;
}
.monica .switch.active .switch__trigger {
  background-color:  #515FFB;
}

/* qwen */
.qwen{
  background-image: url(./logo/qwen-logo.svg);
}
.qwen .switch.active {
  box-shadow: 0 0 10px 0 rgb(98, 90, 237);
}
.qwen  .switch__status {
  color:  #625aed;
}
.qwen .switch.active .switch__trigger {
  background-color:  #625aed;
}
